@value fontBrand, red, green, blue, darkGray, lightGray from "../../styles/variables.css";

.button {
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-family: fontBrand;
  font-weight: 500;
  min-width: 70px;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }
}

/* Types (Colors) */
.buttonBlue {
  background-color: blue;
}

.buttonRed {
  background-color: red;
}

.buttonGreen {
  background-color: green;
}

.buttonWhite {
  background-color: #fff;
  border: 1px solid lightGray;
  color: darkGray;
}

/* Sizes */
.buttonSmall {
  font-size: 12px;
  padding: 6px 10px;
}

.buttonMedium {
  font-size: 14px;
  padding: 12px 17px 11px;
}

.buttonLarge {
  font-size: 16px;
  padding: 18px;
}
