@value fontBrand, ivory, darkGray from "./variables.css";

:global {
  body {
    background-color: ivory;
    color: darkGray;
    font-family: fontBrand;
    font-size: 14px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
  }
}
