@value zIndexWrapper: 9999;
@value zIndexSpinner: zIndexWrapper + 1;

.spinnerWrapper {
  background-color: rgba(0, 0, 0, 0.9);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: zIndexWrapper;
}

.spinnerLoader {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  z-index: zIndexSpinner;
}
