@value green, blue, midGray from "../../styles/colors.css";

.alert {
  color: white;
  left: 0;
  padding: 10px;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 3;
}

.alertSuccess {
  background-color: green;
  composes: alert;
}

.alertInfo {
  background-color: blue;
  composes: alert;
}

.alertError {
  background-color: red;
  composes: alert;
}

.alertDefault {
  background-color: midGray;
  composes: alert;
}

.closeButton {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  height: 12px;
  width: 15px;
}
